<table>
    <thead>
    <tr>
        <th>Letter Grade</th>
        <th style="text-align: center">Points</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>A</td>
        <td style="text-align: center">≥ 90%</td>
    </tr>
    <tr>
        <td>B</td>
        <td style="text-align: center">≥ 80%</td>
    </tr>
    <tr>
        <td>C</td>
        <td style="text-align: center">≥ 70%</td>
    </tr>
    <tr>
        <td>D</td>
        <td style="text-align: center">≥ 60%</td>
    </tr>
    <tr>
        <td>F</td>
        <td style="text-align: center">&lt; 60%</td>
    </tr>
    </tbody>
</table>
