<p>The TAs will be posting hours in which they will be available on the <a href="https://www.acns.colostate.edu/microsoft-teams-students/">Microsoft Team</a>
    for the class.</p>

<p>In general, we ask that you contact us (both TAs, and the instructor) on Microsoft Teams
    (don’t use email / canvas - unless it is a long message), this can be via direct message or general channel for open
    questions.</p>

<p>We also will be running a virtual help desk over Microsoft Teams. As the MS Teams is not designed
    to be a help desk queue, we have developed the following procedure for asking for help.</p>

<ol>
    <li>In general chat, you should ask general questions (do NOT post your code)
        <ul>
            <li>You should do this <em>first</em>, as talking through a problem often helps you solve it!</li>
            <li>Good questions to ask are “I am looking at problem X, and I think the algorithm is as follows…
                (English line by line). What are your thoughts?”</li>
            <li>A bad question is “I am stuck on problem X.”, as it leaves people to guess what is going on instead of helping directly.</li>
            <li>This allows anyone in the class to help answer your question, not just TAs, building both the community
                and larger response time.</li>
            <li>While we say don’t post <em>your</em> code, posting algorithms is fine, or provided code from lecture / labs. It is also
                fine to post links to help sites, as long as this is not abused.</li>
        </ul>
    </li>
    <li>Coding questions
        <ol>
            <li>Post in general chat (during TA hours): “I have a coding question on (lab x:step y, practical x, etc)”</li>
            <li>TAs will be going through them in order, putting a :thumbs up: emote on questions they are helping with</li>
            <li>They will then direct message you, asking for your question
                <ul>
                    <li>note: response times can vary, but if you are not around when they respond, they will have to move on.</li>
                </ul>
            </li>
            <li>You will then respond with your question + code.
                <ul>
                    <li>For a better response, don’t just send code. Instead, send a <strong>question with what you have tried</strong>, along with
                        the code. Try explaining your code in your message.</li>
                    <li>Remember your <a href="https://support.microsoft.com/en-ie/office/use-markdown-formatting-in-teams-4d10bd65-55e2-4b2d-a1f3-2bebdcd2c772">formatting options</a>,
                        especially the format code option &lt;/&gt; <br />
                        <img src="{{ "/assets/img/msteamsformat.png" | relative_url }}" alt="MS Teams Format Banner" /></li>
                    <li>Also, if you just paste the code into Teams from your IDE, it automatically formats the code - so pretty easy to make code look nice.</li>
                    <li>This means there is no reason to send screenshots of your code! Please don’t, they are hard to work with.</li>
                    <li>Depending on your question, your TA may ask you to go into Teams videochat, and screen share with them. Please
                        make sure this is <a href="https://support.office.com/en-us/article/show-your-screen-during-a-meeting-90c84e5a-b6fe-4ed4-9687-5923d230d3a7">setup correctly</a>.</li>
                </ul>
            </li>
            <li>After your question is answered, your TA will put a smiley face next to the “I have a coding question…” message
                in general chat. Please note, the answer to your question could be to try a few things, and then come back. They
                may still put a smiley face for tracking purposes, and if they direct you to message them directly
                after that, it is fine.</li>
            <li>After your question is answered, we ask that you wait a bit before posting “I have a coding question” again, and if you
                immediately continue to do that - they may move you to the bottom of the ‘queue’ in order to help other students.</li>
        </ol>
    </li>
    <li>During non-standard lab times, feel free to send a direct message. TAs will answer during their office hours. TAs
        are tagged with the TA tag.</li>
</ol>

<p>As a last reminder, the more you can have a general question, as compared to a coding question - the more
    you will learn! We encourage general questions to all students to see and discuss.</p>

<h2 id="live-sessions">Live Sessions</h2>
<p>The TAs and Instructor will be having live sessions each week. The live session time will be scheduled in Microsoft Teams.
    All live sessions are <strong>optional</strong>.</p>

<p>Our plan is to record the stream, so you can look at it later if you are unable to make the session. This doesn’t
    always work as we expect, but for the most part, it works fine.</p>

<p>Make sure you check Teams for the scheduled times each week.</p>

<h2 id="additional-debugging-advice">Additional Debugging Advice</h2>
<p>When coding, there is a lot of debugging. We suggest the following to help / try before asking coding questions. Please
    note that if you have general / insight question, these don’t apply. However, trying these debugging techniques before
    asking coding questions will help you become a better programmer.</p>

<ul>
    <li>Design before you code
        <ul>
            <li>the best developers build a plan before coding. They figure out what they want to do, either by writing it
                in comments or using paper. It makes a major difference.</li>
        </ul>
    </li>
    <li>Talk through your code / algorithm (see ducky below)</li>
    <li>Write code in small segments (one or two lines at a time)
        <ul>
            <li>make sure it compiles</li>
            <li>toss in a System.out.println() to make sure it is doing what you think</li>
            <li>this may mean adding extra variables</li>
        </ul>
    </li>
    <li>Have a bug, use printlns liberally to figure out what is going on
        <ul>
            <li>this may mean commenting out sections of your code, and slowly stepping through it</li>
            <li>we suggest using “TESTING” or “DEBUG” in whatever you print. That way, you don’t accidentally leave a print in there
                when you submit for grading.</li>
        </ul>
    </li>
</ul>

<h3 id="before-asking-questions-talk-to-the-ducky">Before asking questions, talk to the ducky!</h3>

<p><img src="{{"/assets/img/ducky.png" | relative_url }}" style="float:right;width:125px;padding-right:10px;padding-left:10px;padding-bottom:50px;" /></p>

<p>Often the best thing you can do is explain what you are attempting to do to a friend. In the process of explaining it,
    you usually figure out your errors, and it helps give you a direction to go from there.</p>

<p>Sometimes in companies, this can be a time-cost for other developers so thus the introduction of a
    <a href="https://en.wikipedia.org/wiki/Rubber_duck_debugging">Rubber Duck</a> for
    testing. This gives you an object for you to talk to just like you would a friend. The object doesn’t have to give feedback
    (just like a friend doesn’t), but instead, the process of talking through the code out loud will often provide
    insights into both development and errors.</p>