<p>Canvas is the where course content, grades, and communication will reside for this course.</p>

<ul>
    <li>Login: <a href="http://canvas.colostate.edu/">canvas.colostate.edu</a></li>
    <li>Support: <a href="https://canvas.colostate.edu/support/">info.canvas.colostate.edu</a></li>
    <li>For passwords or any other computer-related technical support, contact the <a href="http://lib.colostate.edu/services/computers/technical-support-helpdesk">Central IT Technical Support Help Desk</a>.
        <ul>
            <li>(970) 491-7276</li>
            <li><a href="http://mailto:help@colostate.edu">help@colostate.edu</a></li>
        </ul>
    </li>
</ul>

<p>The <a href="https://www.online.colostate.edu/current-students/technical-support-and-requirements/">Technical Requirements page</a>
    identifies the browsers, operating systems, and plugins that
    work best with Canvas. If you are new to Canvas quickly review the
    <a href="https://colostate.instructure.com/courses/18480">Canvas Student Orientation</a> materials.</p>
