<p>We encourage students to make use of the <a href="https://health.colostate.edu/about-counseling-services/">University Counseling Services</a>.
    Just as one takes care of your physical health, you should also take care of your mental health
    using all tools and means at your disposal. Your student fees provide access to a wide range of mental health support
    resources at no additional cost. Visit Counseling Services on the 3rd floor of the Health &amp; Medical Center, and
    they’ll work together with you to find the resources that are best for you.</p>