<p>
    You will see an application called IntelliJ IDEA on the department machines.
    To download IntelliJ on your own machine, you will first want to
    go <a href="https://www.jetbrains.com/student/">here</a> to apply for the free version
    for students. The java development environment is <a href="https://www.jetbrains.com/idea/">IntelliJ IDEA</a>.
    The recommended install from JetBrains is  downloading the
    <a href="https://www.jetbrains.com/toolbox/app/">JetBrains Toolbox</a>
    and selecting IntelliJ once it is installed. That will keep it updated on your
    computer and easy to manage other IDEAs from them.</p>
