<p>We use Microsoft teams extensively in this course for virtual help desks, quick
    questions, live streams, and even office hours. You can more about student
    access to teams by going to the <a href="https://www.acns.colostate.edu/microsoft-teams-students/">ACNS Teams Page</a>.</p>

<p>While not required, we recommend downloading the application, as it runs smoother.
    To download MS Teams, you click the account icon (top right) after
    logging into MS Teams, and it gives
    you the option to download teams both for desktop and mobile.</p>