<p><em>We are accountable for our actions and will act ethically and honestly in all
    our interactions.</em></p>

<p>Within the classroom, that means you do your own work! This is especially
    true when it comes to programming, as it is easy to copy another’s code. Copying
    code <em>is cheating</em> and lacks integrity. Such violations of cheating
    or plagiarism will result in zero to a full negative grade on the assignment
    and reporting to the appropriate university resources. Further
    infractions will result in an F given in the course.</p>

<p>CMU provides some nice examples to follow:</p>

<p>For personal assistance, here are some of the things that are appropriate:</p>
<ul>
    <li>Clarifying ambiguities or vague points in class handouts, textbooks, or lectures</li>
    <li>Discussing or explaining the general class material</li>
    <li>Providing assistance with Java, in using the system facilities, or with editing and debugging tools</li>
    <li>Discussing the code that we give out on the assignment</li>
    <li>Discussing the assignments to better understand them</li>
    <li>Getting help from anyone concerning programming issues which are clearly more general than the specific project (e.g., what does a particular error message mean?)</li>
    <li>Suggesting solution strategies</li>
    <li>In general, oral collaboration is OK.</li>
</ul>

<p>Here are some things that are inappropriate:</p>

<ul>
    <li>Copying files or parts of files (such as source code, written text, or unit tests) from another person or source</li>
    <li>Copying (or retyping) files or parts of files with minor modifications such as style changes or minor logic modifications</li>
    <li>Allowing someone else to copy your code or written assignment, either in draft or final form</li>
    <li>Getting help that you do not fully understand, and from someone whom you do not acknowledge on your solution</li>
    <li>Writing, using, or submitting a program that attempts to alter or erase grading information or otherwise compromise security</li>
    <li>Copying someone else’s files containing draft solutions, even if the file permissions are incorrectly set to allow it</li>
    <li>Lying to course staff</li>
    <li>Reading the current solution (handed out) if you will be handing in the current assignment late</li>
    <li>Copying prose or programs directly</li>
    <li>Giving copies of work to others</li>
    <li>Coaching others step-by-step</li>
</ul>

<p>If you do any of these, your should also acknowledge it in what you turn in; but expect to have a
    conversation with an instructor about it and, at least, suffer some penalty
    in the grade. If we discover you have done this and not acknowledged it,
    the penalty will be much more severe. In other words, dishonesty is much
    worse than stupidity.</p>

<p>Here are some gray areas:</p>

<ul>
    <li>Reading someone’s code for clarity or bugs, after you have completed your own</li>
    <li>Helping with debugging</li>
    <li>Looking at someone’s prose or program but thinking about them and writing your own</li>
    <li>Following someone’s advice or instructions without understanding them</li>
    <li>Many others</li>
</ul>

<p>These, too, should be acknowledged.</p>

<p>A few resources</p>
<ul>
    <li><a href="https://legacy.scu.edu/ethics/publications/iie/v13n1/challenge.html">Cheating versus Collaboration</a></li>
    <li><a href="https://www.cs.cmu.edu/~211/policy/cheating.html">CMU Policy</a></li>
    <li><a href="https://resolutioncenter.colostate.edu/student-conduct-code/">CSU Resolution Center - Conduct Code</a></li>
</ul>


