<p>Please do not share material from this course in online, print, or other media. Course material is
    the property of the instructor who developed the course. Materials authored by third parties and
    used in the course are also subject to copyright protections. Posting course materials on external
    sites (commercial or not) violates both copyright law and the CSU Student Conduct Code.
    Students who share course content without the instructor’s express permission, including with
    online sites that post materials to sell to other students, could face appropriate disciplinary or
    legal action.</p>