<p>This course will adhere to the CSU <a href="https://catalog.colostate.edu/general-catalog/policies/students-responsibilities/#academic-integrity">Academic Integrity/Misconduct</a>
    policy as found in the General Catalog and the <a href="https://catalog.colostate.edu/general-catalog/academic-standards/academic-policies/">Student Conduct Code</a>.</p>

<p>Academic integrity lies at the core of our common goal: to create an intellectually honest and
    rigorous community. Because academic integrity, and the personal and social integrity of which
    academic integrity is an integral part, is so central to our mission as students, teachers, scholars,
    and citizens, I will ask that you affirm the
    <a href="https://tilt.colostate.edu/Integrity/Pledge">CSU Honor Pledge</a>
    as part of completing your work in this course.</p>

<p>Further information about Academic Integrity is available at CSU’s
    <a href="https://tilt.colostate.edu/TipsAndGuides/Tip/18">Academic Integrity - Student Resources</a>.</p>