<h1 id="guiding-principles">Guiding Principles</h1>
<p>{{site.title}} is built around the <a href="https://admissions.colostate.edu/principles-of-community/">
    Principles of Community</a>,
    and we expect students to uphold these principles within our classroom environment, and throughout
    their careers.</p>


<h2 id="inclusion">Inclusion</h2>
<p><em>We create and nurture inclusive environments and welcome, value and affirm all
    members of our community, including their various identities, skills, ideas, talents
    and contributions.</em></p>

<p>This manifests in this class in our in class discussions, discussion posts, and our interactions
    on Teams. You are to be <strong>kind</strong> to others with various backgrounds
    and identities, without making assumptions. With that said, this course
    is considered a ‘Brave Space’. This does not exclude the classroom from
    being a Safe Space - and know you are welcome - and the classroom is meant to
    challenge ideals. We will often approach topics that may make you feel uncomfortable
    and challenge your point of view. We will even ask you to argue
    the opposite of what you believe. That is the joy of learning.</p>

<p>Learn more about the difference:</p>
<ul>
    <li><a href="https://alternativebreaks.org/safe-or-brave-spaces/">Brave Space or Safe Space</a></li>
    <li><a href="https://bravespaces.org/1-introduction/">Safe Spaces, Brave Spaces</a></li>
</ul>


<h3 id="counseling-services">Counseling Services</h3>
{% include resources/counseling.html %}

<h4 id="universal-design-for-learningaccommodation-of-needs">Universal Design For Learning/Accommodation of Needs</h4>
{% include policies/universalDesign.html %}

<h3 id="diversity-and-inclusion">Diversity and Inclusion</h3>
{% include policies/diversityStatement.html %}

<h2 id="integrity">Integrity</h2>
{% include policies/cheating.html %}

<h3 id="academic-integrity--csu-honor-pledge">Academic Integrity &amp; CSU Honor Pledge</h3>
{% include policies/honorPledge.html %}


<h2 id="respect">Respect</h2>
<p><em>We honor the inherent dignity of all people within an environment where we are
    committed to freedom of expression, critical discourse, and the advancement
    of knowledge.</em></p>

<p>Within this classroom, we give everyone the opportunity to talk during discussions.
    We are honest and open with everyone. We will also treat the labs and computers
    with respect, and those in the lab. If you are unable to use the lab
    resources with respect, you can loose the privilege of the lab and computer
    use.</p>

{% include policies/netiquette.html %}

<h3 id="religious-observances">Religious Observances</h3>
{% include policies/religious.html %}

<h2 id="service">Service</h2>
<p><em>We are responsible, individually and collectively, to give of our time,
    talents, and resources to promote the well-being of each other and the
    development of our local, regional, and global communities.</em></p>

<p>Service within the class means giving back to the class. How do you
    choose to improve the classroom community, and those around you? Computer Science
    is about using technology to improve the world - and it starts with you.</p>

<p>Additionally, one way you will serve your local community
    is as a peer grader. Some of our assignments will require
    peer grading, and all assignments require peer interaction. If you do not
    follow your peer grading responsibility, you risk receiving a 0 on
    your assignments.</p>

<h2 id="social-justice">Social Justice</h2>
<p><em>We have the right to be treated and the responsibility to treat
    others with fairness and equity, the duty to challenge prejudice,
    and to uphold the laws, policies and procedures
    that promote justice in all respects.</em></p>

<p>There are topics in this class that have to do with social
    justice and equity for all those who use technology. These topics are meant
    to cause us to think about inclusive design, and how we develop
    applications that actively promote social justice by means of
    the application following inclusive design principles.</p>

<h3 id="undocumented-student-support">Undocumented Student Support</h3>
{% include policies/daca.html %}

<h3 id="title-ixinterpersonal-violence">Title IX/Interpersonal Violence</h3>
{% include policies/title9.html %}

<h2 id="additional-standard-policies">Additional Standard Policies</h2>
<h3 id="copyrighted-course-materials">Copyrighted Course Materials</h3>
{% include policies/copyrighted.html %}

<h3 id="third-party-toolsprivacy">Third-Party Tools/Privacy</h3>
{% include policies/thirdParty.html %}
