<p>For the full statement regarding role and responsibilities about reporting harassment, sexual
    harassment, sexual misconduct, domestic violence, dating violence, stalking, and the retaliation
    policy please go to: <a href="http://oeo.colostate.edu/title-ix-sexual-assault">Title IX – Sexual Assault, Sexual Violence, Sexual Harassment</a>.</p>

<p>If you feel that your rights have been compromised at CSU, several resources are available to
    assist:</p>

<ul>
    <li>Student Resolution Center, 200 Lory Student Center, (970) 491-7165</li>
    <li>Office of Equal Opportunity, 101 Student Services, (970) 491-5836</li>
</ul>

<p>A note about interpersonal violence: If you or someone you know has experienced sexual assault,
    relationship violence and/or stalking, know that you are not alone. As instructors, we are
    required by law to notify university officials about disclosures related to interpersonal violence.
    Confidential victim advocates are available 24 hours a day, 365 days a year to provide support
    related to the emotional, physical, physiological and legal aftermath of interpersonal violence.
    Contact the Victim Assistance Team at: (970) 492-4242.</p>